{% extends 'main/base.html' %}

{% block title %}
  Delete Circular
{% endblock %}

{% block main %}
  <br>
  <br>
  <div class="row">
      <form class="col s12" action="{% url 'circular-delete' pk %}" method="POST">
      {% csrf_token %}
      <div class="row">
          <div class="col s9 offset-s3">
            <div class="container card-panel">
              <div class="row">
                <blockquote> <h4> Do you really want to Delete the circular?? </h4> </blockquote>
              </div>
              <div class="row">
                <div class="input-field col s4">
                  <input type="submit" value="Delete" class="btn red">
                </div>
                <div class="input-field col s4 offset-s4">
                    <a class="btn grey" href="{% url 'circular-detail' pk %}">Cancel</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
{% endblock %}
