<div class="col s4 offset-s4 card-panel">
  <br><br>
  <div class="row">
    <div class="input-field col s12">
      <select name="usertype">
        <option value="T">Tutor</option>
        <option value="S">Student</option>
      </select>
      <label>Select User Option</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="email" name="email" id="email" class="validate" required>
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4 offset-s4">
      <input type="submit" value="Verify" class="btn">
    </div>
  </div>
</div>
