<div class="row">
  <blockquote> <h4>Educational Status </h4> </blockquote>
</div>
<div class="row">
  <div class="input-field col s2">
    {{form.qualification}}
    <label>Qualification</label>
  </div>
  <div class="input-field col s2">
      {{form.honours_exam_year}}
      <label for="{{form.honours_exam_year.id_for_label}}">Year</label>
  </div>
  <div class="input-field col s3">
      {{form.institute}}
      <label for="{{form.institute.id_for_label}}">Institute</label>
  </div>
  <div class="input-field col s3">
    {{form.honours_subject}}
    <label for="{{form.honours_subject.id_for_label}}">Subject</label>
  </div>
  <div class="input-field col s2">
    {{form.honours_result}}
    <label for="{{form.honours_result.id_for_label}}">Result</label>
  </div>
</div>
<div class="row">
  <blockquote> <h6>HSC</h6> </blockquote>
</div>
<div class="row">
  <div class="input-field col s2">
      {{form.hsc_exam_year}}
      <label for="{{form.hsc_exam_year.id_for_label}}">Year</label>
  </div>
  <div class="input-field col s4">
      {{form.hsc_institute}}
      <label for="{{form.hsc_institute.id_for_label}}">Institute</label>
  </div>
  <div class="input-field col s4">
    {{form.hsc_subject}}
    <label for="{{form.hsc_subject.id_for_label}}">Group</label>
  </div>
  <div class="input-field col s2">
    {{form.hsc_result}}
    <label for="{{form.hsc_result.id_for_label}}">Result</label>
  </div>
</div>
<div class="row">
  <blockquote> <h6>SSC</h6> </blockquote>
</div>
<div class="row">
  <div class="input-field col s2">
      {{form.ssc_exam_year}}
      <label for="{{form.ssc_exam_year.id_for_label}}">Year</label>
  </div>
  <div class="input-field col s4">
      {{form.ssc_institute}}
      <label for="{{form.ssc_institute.id_for_label}}">Institute</label>
  </div>
  <div class="input-field col s4">
    {{form.ssc_subject}}
    <label for="{{form.ssc_subject.id_for_label}}">Group</label>
  </div>
  <div class="input-field col s2">
    {{form.ssc_result}}
    <label for="{{form.ssc_result.id_for_label}}">Result</label>
  </div>
</div>
<div class="row">
  <blockquote> <h6> Preferences </h6> </blockquote>
</div>
<div class="row">
  <div class="input-field col s6">
    {{form.preffered_medium}}
    <label>Preferred Medium</label>
  </div>
  <div class="input-field col s6">
    {{form.preffered_subject}}
    <label>Preferred Subjects</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    {{form.preffered_class}}
    <label>Preferred Class</label>
  </div>
  <div class="input-field col s6">
    {{form.preffered_time}}
    <label>Preferred Time</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    {{form.expected_salary}}
    <label for="{{form.expected_salary.id_for_label}}">Expected Salary</label>
  </div>
  <div class="input-field col s6">
    {{form.working_days}}
    <label for="{{form.working_days.id_for_label}}">Working Days (per Week)</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
      {{form.place_of_learning}}
      <label for={{form.place_of_learning.id_for_label}}>Place of learning</label>
  </div>
  <div class="input-field col s6">
    {{form.extra_facilities}}
    <label for="{{form.extra_facilities.id_for_label}}">Extra Facilities</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    {{form.address_covered}}
    <label for="{{form.address_covered.id_for_label}}">Address Covered</label>
  </div>
</div>
