{% extends 'main/base.html' %}

{% block title %}
  Password Reset
{% endblock %}

{% block main %}
  <br>
  <br>
  <div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col s4 offset-s4 card-panel">
          <br><br>
          <div class="row">
            <div class="input-field col s12">
                {{ form.as_p }}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s4 offset-s2">
              <input type="submit" value="Request Password Reset" class="btn">
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
