{% extends 'main/base.html' %}

{% block title %}
  Verify email
{% endblock %}

{% block main %}
  <br>
  <br>
  <div class="row">
    <form class="col s12" action="{% url 'user-mail-verify' %}" method="POST">
      {% csrf_token %}
      <div class="row">
          {% include 'users/forms/stepone.html' %}
      </div>
    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });
  </script>
{% endblock %}
